<nav class='navbar navbar-expand navbar-light bg-light'>
  <a class='navbar-brand'><h1>{{appTitle}}</h1></a>
  <ul class='nav nav-pills'>
    <li><a class='nav-link' routerLink='/welcome'>Home</a></li>
    <li><a class='nav-link' routerLink='/addClient'>Clients</a></li>
    <li><a class='nav-link' routerLink='/viewClient'>View Clients</a></li>
    <li><a class='nav-link' routerLink='/addSchedule'>Schedules</a></li>
    <li><a class='nav-link' routerLink='/viewSchedule'>View Schedules</a></li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>